
// Typography

base-font         ?= Helvetica, Arial, Sans-serif
base-font-size    ?= 14px
base-line-height  ?= base-font-size * 1.5
if odd(round(base-line-height))
  base-line-height = round(base-line-height) + 1px

// Alignment

base-space = base-line-height/2

// Finesse

base-radius ?= 3px

// Colors

identity  ?= cyan
panel     ?= '#333'
buttonbg  ?= darken(white, 10)

// Grid

grid-width  ?= 1080px
columns     ?= 12

